<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.geekalliance.taurus.base.auth.mapper.BaseUserMapper">
    <resultMap id="BaseResultMap" type="com.geekalliance.taurus.base.api.auth.entity.BaseUser">
        <!--@mbg.generated-->
        <!--@Table base_user-->
        <result column="nick_name" jdbcType="VARCHAR" property="nickName"/>
        <result column="username" jdbcType="VARCHAR" property="username"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="password_type" jdbcType="TINYINT" property="passwordType"/>
        <result column="avatar" jdbcType="VARCHAR" property="avatar"/>
        <result column="expired_time" jdbcType="TIMESTAMP" property="expiredTime"/>
        <result column="status_number" jdbcType="TINYINT" property="statusNumber"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="job_number" jdbcType="VARCHAR" property="jobNumber"/>
        <result column="birthday" jdbcType="DATE" property="birthday"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="wechat" jdbcType="VARCHAR" property="wechat"/>
        <result column="phone" jdbcType="VARCHAR" property="phone"/>
        <result column="telephone" jdbcType="VARCHAR" property="telephone"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="data_source" jdbcType="TINYINT" property="dataSource"/>
        <result column="online_flag" jdbcType="CHAR" property="onlineFlag"/>
        <result column="enable_flag" jdbcType="CHAR" property="enableFlag"/>
        <result column="super_flag" jdbcType="CHAR" property="superFlag"/>
        <result column="delete_flag" jdbcType="VARCHAR" property="deleteFlag"/>
    </resultMap>
    <sql id="Base_Column_List">
        nick_name,
        username,
        password,
        password_type,
        avatar,
        expired_time,
        status_number,
        name,
        job_number,
        birthday,
        email,
        wechat,
        phone,
        telephone,
        remark,
        data_source,
        online_flag,
        enable_flag,
        super_flag,
        delete_flag
    </sql>
</mapper>